@import 'tailwindcss';

@layer base {
  :root {
    --default-foreground: #171717;
    --default-background: #e1e1e1;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --heroui-background: 255 255 255;
    --heroui-foreground: 0 0 0;
    --cookie-button-bg: 240 4.8% 95.9%;
  }
  .dark {
    --default-foreground: #e1e1e1;
    --default-background: #171717;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --heroui-background: 23 23 23;
    --heroui-foreground: 255 255 255;
    --cookie-button-bg: 23 23 23;
  }
}

.opacity-0 {
  opacity: 100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #e1e1e1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --icon-brand: blue;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg-gradient.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

.dark body::before {
  opacity: 0.1;
}

/* 让 Tailwind 一定生成这些类 */
.animate-scrolling-banner {
  animation: scrolling-banner 30s linear infinite;
}
.animate-scrolling-banner-vertical {
  animation: scrolling-banner-vertical 30s linear infinite;
}

@keyframes scrolling-banner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - var(--gap) / 2));
  }
}

@keyframes scrolling-banner-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - var(--gap) / 2));
  }
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 0 rgba(193, 136, 247, 0.7); /* Corresponds to purple-500 with opacity */
  }
  70% {
    box-shadow: 0 0 0 10px rgba(193, 136, 247, 0); /* Adjust 10px પાણી pulsation size */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(193, 136, 247, 0);
  }
}

@keyframes subtle-scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly larger */
  }
}

@keyframes voice-glow {
  0%,
  100% {
    box-shadow: 0 0 5px 2px rgba(192, 132, 252, 0.5),
      /* purple-400 equivalent */ 0 0 7px 3px rgba(168, 85, 247, 0.3); /* purple-500 equivalent */
  }
  50% {
    box-shadow: 0 0 10px 4px rgba(192, 132, 252, 0.7),
      0 0 15px 6px rgba(168, 85, 247, 0.5);
  }
}

/* sitemap animation */
.animate-ping-3 {
  animation: ping-3 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-3 {
  75%,
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #006fee;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #006fee, 0 0 5px #006fee;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #006fee;
  border-left-color: #006fee;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* feedback */
.feedback {
  align-items: flex-start;
  background-color: var(--tokens-colors-base-default-50);
  border-radius: var(--tokens-layout-radius-rounded-medium);
  box-shadow: inset 0px 0px 1px #ffffff26, 0px 2px 10px #00000033,
    0px 0px 5px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 205px;
  padding: 12px;
  position: relative;
  width: 400px;
}

.feedback .div-relative {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--tokens-colors-base-default-100);
  border: 2px solid;
  border-color: var(--tokens-colors-base-default-200);
  border-radius: 12px;
  box-shadow: 0px 1px 2px #0000000d;
  display: flex;
  gap: 8px;
  height: 88px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.feedback .text-wrapper {
  color: var(--tokens-colors-layout-foreground-500);
  font-family: var(--text-small-font-family);
  font-size: var(--text-small-font-size);
  font-style: var(--text-small-font-style);
  font-weight: var(--text-small-font-weight);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.feedback .div-flex {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: flex-end;
  padding: 0px 3.33px 0px 191.88px;
  position: relative;
  width: 100%;
}

.feedback .img {
  height: 20px;
  position: relative;
  width: 20px;
}

.feedback .p-text-tiny {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  height: 16px;
  padding: 0px 0px 1.91e-6px;
  position: relative;
}

.feedback .link {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.feedback .div {
  color: var(--tokens-colors-layout-foreground-500);
  font-family: var(--text-tiny-font-family);
  font-size: var(--text-tiny-font-size);
  font-style: var(--text-tiny-font-style);
  font-weight: var(--text-tiny-font-weight);
  letter-spacing: var(--text-tiny-letter-spacing);
  line-height: var(--text-tiny-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.feedback .after {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -0.68px;
  position: relative;
}

.feedback .text-wrapper-2 {
  color: var(--tokens-colors-layout-foreground-500);
  font-family: var(--text-tiny-font-family);
  font-size: var(--text-tiny-font-size);
  font-style: var(--text-tiny-font-style);
  font-weight: var(--text-tiny-font-weight);
  letter-spacing: var(--text-tiny-letter-spacing);
  line-height: var(--text-tiny-line-height);
  margin-top: -1px;
  position: relative;
  width: 11.8px;
}

.feedback .text-wrapper-3 {
  color: var(--tokens-colors-layout-foreground-300);
  font-family: var(--text-tiny-font-family);
  font-size: var(--text-tiny-font-size);
  font-style: var(--text-tiny-font-style);
  font-weight: var(--text-tiny-font-weight);
  letter-spacing: var(--text-tiny-letter-spacing);
  line-height: var(--text-tiny-line-height);
  margin-left: -0.33px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.feedback .separator-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 17px;
  padding: 8px 0px;
  position: relative;
  width: 100%;
}

.feedback .separator {
  align-self: stretch;
  background-color: var(--tokens-colors-base-default-200);
  height: 1px;
  position: relative;
  width: 100%;
}

.feedback .div-flex-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.feedback .radiogroup {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.feedback .presentation-flex {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 12px;
  position: relative;
  width: 100%;
}

.feedback .label {
  align-items: center;
  display: inline-flex;
  left: -8px;
  padding: 8px;
  position: relative;
  top: -8px;
}

.feedback .button-instance {
  flex: 0 0 auto !important;
}
