@tailwind base;
@tailwind components;
@tailwind utilities;

/* @config "../tailwind.config.js" */
@layer base {
  :root {
    --hero-title-gradient: linear-gradient(to right, #333333, #33333399);
    --default-foreground: #171717;
    --default-background: #e1e1e1;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --cookie-button-bg: 240 4.8% 95.9%;
  }
  .dark {
    --hero-title-gradient: linear-gradient(to right, #ffffff, #ffffff66);
    --default-foreground: #e1e1e1;
    --default-background: #171717;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --cookie-button-bg: 23 23 23;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --icon-brand: blue;
  overflow-x: hidden;
}

/* sitemap animation */
.animate-ping-3 {
  animation: ping-3 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping-3 {
  75%,
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
